/* GLOBAL CSS */

header nav ul {
  display: flex;
  list-style: none;
  padding:0;
  margin:0;
}

header nav ul a{
  color:black;
  padding:0 8px;
  text-decoration: none;
}

.favorite-star path {
  stroke: rgb(0, 0, 0);
  stroke-width: 35px;
}

.favorite-star {
  color: rgba(187, 187, 187, 0.649);
}

.favorite-star:hover {
  cursor: pointer;
  color: rgba(233, 217, 124, 0.663);
}