/* GLOBAL CSS */

.leaflet-container {
  width: 100%;
  height: 25rem;
}


header nav ul {
  display: flex;
  list-style: none;
  padding:0;
  margin:0;
}

header nav ul a{
  color:black;
  padding:0 8px;
  text-decoration: none;
}

.favorite-star path {
  stroke: rgb(0, 0, 0);
  stroke-width: 35px;
}

.favorite-star {
  transition: color 0.7s;
  color: rgba(187, 187, 187, 0.649);
}

.favorite-star-selected path {
  stroke: rgb(0, 0, 0);
  stroke-width: 35px;
}

.favorite-star-selected {
  color: rgb(255, 217, 0);
}

.favorite-star-selected:hover {
  cursor: pointer;
}

.favorite-star:hover {
  cursor: pointer;
  color: rgb(233, 217, 124);
}